@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

Body{
    margin: 0;
    text-align: center;
    font-family: Roboto;
    height: 100vh;
    background-color: #f1f3f5;
}

.centralizar{
    width: 50%;
    margin: auto;
}

p{
    text-align: justify;
}

a{
    color: #5c7cfa;
    border: solid 1px #5c7cfa;
    padding: 5px;
    margin-top: 30px;
    text-decoration: none;
}

a:hover{
    background-color: #5c7cfa;
}

form{
    background-color: #dee2e6;
    color: #5c7cfa;
    border: solid 10px #e9ecef;
    margin-top: 30px;
    padding: 20px;
}